:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans',Verdana, sans-serif;
}
.contenedor-canales{
    display: flex;
    flex-direction: column;

}
.canales-hashtag{
    display: flex;
    flex-direction: row;
    background-color: #744676;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    margin-top: 20px;
}
.canales-titulo{
    background-color: #744676;
    font-size: 17px;
    border: none;
    color: antiquewhite;
}
.canales-text{
    background-color: #744676;
    font-size: 17px;
    border: none;
    color: antiquewhite;
    margin-left: 18px;
    margin-top: 10px;
}
.canales-icons{
    background-color: #744676;
    border:none;
    color: antiquewhite;
}